.content {
  padding-top: 100px;
  &__main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin: 10px 0;
    video {
      background-color: black;
      height: 270px;
      width: 500px;
      border-radius: 39px;
    }
  }
  &__titleMain {
    font-family: "Mulish";
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    width: 50%;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    video {
      width: 200px;
      height: 120px;
      background-color: black;
      border-radius: 20px;
    }
  }
  &__title {
    font-family: "Mulish";
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
  }
}
