.logo{
    margin: 70px 0 110px;
}
.title{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.txt{
    font-family: 'Mulish';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    width: 70%;
    margin: 50px auto;
}